<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>testeJSP</display-name>

  <servlet>
    <servlet-name>cadastrar</servlet-name>
    <servlet-class>testeJSP.controller.cadastrarProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrar</servlet-name>
    <url-pattern>/cadastrarProduto</url-pattern>
  </servlet-mapping>
</web-app>