<!--
 1. Alterar o title para Criar Cliente
 2. Alterar o body
-->
<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Criar Cliente</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  
    <div class="container my-4">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4">
                <h2 class="text-center mb-5">Novo Cliente</h2>

                <form th:action="@{/clientes/criar}" th:object="${cd}" method="post">
                   
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label" for="nome">Nome</label>
                        <div class="col-sm-8">
                            <input type="text" id="nome" class="form-control" th:field="${cd.nome}">
                            	<p th:if="${#fields.hasErrors('nome')}"
                                  th:errorclass="text-danger"
                                  th:errors="${cd.nome}"></p>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="sobrenome" class="col-sm-4 col-form-label">Sobrenome</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="sobrenome" th:field="${cd.sobrenome}">
                            <p th:if="${#fields.hasErrors('sobrenome')}"
                                  th:errorclass="text-danger"
                                  th:errors="${cd.sobrenome}"></p>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="email" class="col-sm-4 col-form-label">E-mail</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="email" th:field="${cd.email}">
                            <p th:if="${#fields.hasErrors('email')}"
                                  th:errorclass="text-danger"
                                  th:errors="${cd.email}"></p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-outline-primary" href="/clientes">Cancelar</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>